<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Test" verbose="1">
	<test name="Selenium Test">
		<classes>
			<!--  Makes the selenium feature files -->
			<class name="runner.TestRunner"/>
		</classes>
	</test>
</suite>